<div *ngIf="vehiculo.placa != null">
    <h4 style="text-align: center">Detalle Vehiculo</h4>
    <div class="card div-container" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{vehiculo.placa}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{vehiculo.fechaIngreso | date:'medium'}}</h6>
            <p class="card-text" *ngIf="vehiculo.cilindraje != 0 && vehiculo.cilindraje != null">{{vehiculo.cilindraje}} C.C</p>
            <div *ngIf="vehiculo.fechaSalida != null">
                <p class="card-text">Fecha Salida: {{vehiculo.fechaSalida}}</p>
                <p class="card-text">Dias En Parqueadero: {{vehiculo.diasEnParqueadero}}</p>
                <p class="card-text">Horas En Parqueadero: {{vehiculo.horasEnParqueadero}}</p>
                <p class="card-text">Total: $ {{vehiculo.valorPagado}}</p>
            </div>
            <div>
                <button class="btn btn-dark mr-2 btn-block div-container" (click)="cobrar()" *ngIf="vehiculo.fechaSalida == null">Cobrar</button>
            </div>
        </div>
    </div>
</div>